
.Rhistory
*.las
.Rproj.user
.Renviron

/data/drone_old
/data/raw
/data/satellite_data/sentinel1
/data/satellite_data/satellite_results
/data/satellite_data/planetscope
/data/SRS
/data/orthomosaic
/data/densecloud
/tmp
